<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('app_homepage') }}">
    <img src="logo_here" width="30" height="30" class="d-inline-block align-top" alt="?">
    Bootstrap
  </a>
</nav>